<div class="container">
    <h3>Books</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Author</td>
            <td type="number">Price</td>
            <td type="number">Rating</td>
            <td>Do</td>
        </tr>
        <tbody>
        <tr ng-repeat="s in bookList">
            <td>{{s.id}}</td>
            <td>{{s.title}}</td>
            <td>{{s.author.name}} {{s.author.surname}}</td>
            <td>{{s.price}}</td>
            <td>{{s.rating}}</td>
            <td>
                <button class="btn btn-danger" ng-click="addNovelInCart(s.id)">Add in cart</button>
            </td>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <button class="page-link" ng-click="prevPage()" id="btn_prev">Previous</button>
            </li>
            <li class="page-item"><button class="page-link" ng-click="changePage(1)">1</button></li>
            <li class="page-item"><button class="page-link" ng-click="changePage(2)">2</button></li>
            <li class="page-item">
                <button class="page-link" ng-click="goNextPage()" id="btn_next">Next</button>
            </li>
        </ul>
    </nav>
    <button class="btn btn-primary" id="newNovel">Add new book</button>
    <button class="btn btn-primary" id="studentEntities">Students</button>
    <div>
        <br>
        <h4>Find book</h4>
    </div>
    <form class="container" ng-submit="loadBooks(1, min_rating, max_rating, min_price, max_price,
            title_part, names, surname)" ng-controller="novelController">
        <div class="input-group">
            <span class="input-group-text">Min and max rating</span>
            <input type="number" step="0.01" aria-label="Min rating"
                   ng-model="min_rating" placeholder="Min rating" class="form-control">
            <input type="number" step="0.01" aria-label="Max rating"
                   ng-model="max_rating" placeholder="Max rating" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">Min and max price</span>
            <input type="number" step="0.01" aria-label="Min price"
                   ng-model="min_price" placeholder="Min price" class="form-control">
            <input type="number" step="0.01" aria-label="Max price"
                   ng-model="max_price" placeholder="Max price" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">Title (or part)</span>
            <input type="text" aria-label="Title"
                   ng-model="title_part" placeholder="Title or part" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">Author name and surname</span>
            <input type="text" aria-label="Name"
                   ng-model="names" placeholder="Name" class="form-control">
            <input type="text" aria-label="Surname"
                   ng-model="surname" placeholder="Surname" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Find</button>
    </form>
</div>